#li_tag {
    float: right;
}

.txt {
    background: lightblue;
    padding: 0.5em;
}

#btn {
    background: darkseagreen;
    color: white;
    font-weight: bold;
    padding: 1em;
    display: inline-block;
    margin-top: 1em;
}

#btn:hover {
    text-decoration: none;
}