#li_tag {
    float: right;
}

#confirm {
    border: 3px solid blanchedalmond;
    padding: 2em;
}

#btn {
    background: mediumaquamarine;
    color: white;
    padding: 1em;
    display: inline-block;
    margin-top: 2em;
}